# Examples
This notebook contains some examples for how to use the different `barometers` provided by `bias-barometer`.

## Bias Direction

### Gender Bias in English Static Word Embeddings

In [1]:
from biasbarometer.barometers import AutoBarometer
from biasbarometer.models import GloVeEmbeddingsModel

# Initialize the embeddings representation from a GloVe model
embeddings = GloVeEmbeddingsModel("glove-twitter-25", device="cpu").embeddings

# Operationalize the bias measure using two wordlists
# (Not providing the wordpairs and target keyword arguments will throw an error)
barometer = AutoBarometer.from_spec("direction", wordpairs="../data/wordlists/man_vs_woman.csv", target="../data/wordlists/occupations.txt")

# Run the bias evaluation
barometer.evaluate(embeddings)

barometer.results["score"]

1.1002453568888515

In [2]:
df = barometer.results["bias_df"]
df[df["category"]!="target"]

        word     score   category
0        son  1.409845  masculine
1         he  0.977025  masculine
2        man  0.932057  masculine
4       john  0.542544  masculine
7    himself  0.066771  masculine
8        his  0.066751  masculine
9       male  0.066700  masculine
10       boy  0.066526  masculine
14    father -0.337264  masculine
28   herself -0.908493   feminine
29      mary -0.908559   feminine
30       she -0.908671   feminine
31    female -0.908714   feminine
32    mother -0.908825   feminine
33  daughter -0.908868   feminine
34     woman -0.908887   feminine
36      girl -0.945359   feminine
37       her -0.956892   feminine

In [3]:
df[df["category"]=="target"]

             word     score category
3         manager  0.847053   target
5            chef  0.144280   target
6         auditor  0.144152   target
11         lawyer -0.013290   target
12        officer -0.126701   target
13         doctor -0.133191   target
15      secretary -0.497462   target
16       examiner -0.527420   target
17      carpenter -0.552589   target
18     instructor -0.577824   target
19       engineer -0.678261   target
20        teacher -0.718322   target
21     specialist -0.754621   target
22      inspector -0.798129   target
23     accountant -0.828638   target
24    pathologist -0.834066   target
25         broker -0.846265   target
26   investigator -0.846665   target
27  administrator -0.906673   target
35        chemist -0.925213   target
38      scientist -0.995484   target
39     supervisor -1.002921   target
40        planner -1.007230   target
41          baker -1.028553   target
42     programmer -1.038928   target
43        advisor -1.046892   target
44      machinist -1.094688   target
45        surgeon -1.156842   target
46      architect -1.184212   target
47         worker -1.225265   target
48      physician -1.225862   target
49     technician -1.250693   target
50        janitor -1.272566   target
51     dispatcher -1.306645   target
52          nurse -1.309099   target
53          clerk -1.345477   target
54    electrician -1.367401   target
55       mechanic -1.390503   target
56      bartender -1.422041   target
57        cashier -1.428982   target
58      counselor -1.500096   target
59   receptionist -1.528453   target
60        plumber -1.628598   target
61    hairdresser -1.648600   target
62   psychologist -1.653610   target
63      therapist -1.696292   target
64       educator -1.768154   target
65      librarian -1.811483   target
66   practitioner -1.840168   target
67   veterinarian -1.990881   target
68     pharmacist -2.158263   target
69        painter -2.187060   target

### Gender Bias in Dutch Language Model BERTje

In [4]:
from biasbarometer.barometers import AutoBarometer
from biasbarometer.models import BERTModel

# Initialize the embedding representation from a Dutch BERT model (input embeddings)
embeddings = BERTModel("GroNLP/bert-base-dutch-cased", device="cpu").embeddings

# Operationalize the barometer using Dutch word lists this time
barometer = AutoBarometer.from_spec("direction", wordpairs="../data/wordlists/dutch/man_vs_vrouw.csv", target="../data/wordlists/dutch/beroepen.txt")

# Run the bias evaluation
barometer.evaluate(embeddings)

barometer.results["score"]

/Users/oskarvanderwal/Code/NEW_BAROMETER/bias-barometer/.venv/lib/python3.11/site-packages/transformers/generation/configuration_utils.py:774: UserWarning: `return_dict_in_generate` is NOT set to `True`, but `output_scores` is. When `return_dict_in_generate` is not `True`, `output_scores` is ignored.
  warnings.warn(
WARNING:root:Target word bartender is not part of the embedding vocabulary and is therefore skipped.
WARNING:root:Target word electricien is not part of the embedding vocabulary and is therefore skipped.
WARNING:root:Target word kapster is not part of the embedding vocabulary and is therefore skipped.
WARNING:root:Target word programmeur is not part of the embedding vocabulary and is therefore skipped.

0.05022987034493168

In [5]:
df = barometer.results["bias_df"]
df[df["category"]!="target"]

        word     score category
0        man  0.323600      man
1        hij  0.323420      man
2      vader  0.275389      man
3     koning  0.264864      man
4       zoon  0.259512      man
29    moeder -0.283333    vrouw
30     vrouw -0.295978    vrouw
31   dochter -0.357350    vrouw
32  koningin -0.362299    vrouw
33       zij -0.362570    vrouw

In [6]:
df[df["category"]=="target"]

             word     score category
5       architect  0.104643   target
6       ingenieur  0.088466   target
7        schilder  0.083367   target
8            chef  0.077747   target
9      loodgieter  0.072991   target
10           ober  0.072122   target
11        chirurg  0.061848   target
12      timmerman  0.061053   target
13      verpleger  0.058016   target
14       advocaat  0.055250   target
15      ambtenaar  0.054981   target
16      machinist  0.054525   target
17         bakker  0.051856   target
18         dokter  0.045774   target
19  wetenschapper  0.037101   target
20        monteur  0.023671   target
21        politie  0.014626   target
22     specialist  0.013193   target
23     verpleging  0.009860   target
24         docent  0.008626   target
25         kapper  0.005015   target
26     consultant -0.026611   target
27     accountant -0.036149   target
28     verzorging -0.088025   target
34      bartender       NaN   target
35    electricien       NaN   target
36        kapster       NaN   target
37    programmeur       NaN   target

## STS-B Bias for an English DistilBERT

In [8]:
from biasbarometer.barometers import AutoBarometer
from biasbarometer.models import BERTModel

# Initialize the sentence embedding representation from distilbert
# TIP: pass device="mps" if you use an m1/m2 macbook.
sentence_embeddings = BERTModel("distilbert-base-uncased", device="cuda").sentence_embeddings

# Operationalize the STS-B bias measure using occupation target list and the template list
barometer = AutoBarometer.from_spec("sts-b", target="../data/wordlists/occupations.txt", templates="../data/templates/sts-b.txt")

# Run the bias evaluation
# (This can take a while if you don't use a GPU backend)
barometer.evaluate(sentence_embeddings)

barometer.results["score"]

100%|██████████| 449/449 [01:32<00:00,  4.86it/s]

0.00096287084

In [9]:
barometer.results["bias_df"]

             word     score
0     hairdresser -0.000967
1    veterinarian -0.000833
2      pharmacist -0.000454
3           nurse -0.000331
4         cashier  0.000017
5    receptionist  0.000042
6          worker  0.000473
7       secretary  0.000510
8     pathologist  0.000515
9      dispatcher  0.000544
10        teacher  0.000558
11        painter  0.000567
12    electrician  0.000693
13        plumber  0.000695
14      scientist  0.000720
15         doctor  0.000730
16     supervisor  0.000754
17           chef  0.000778
18      therapist  0.000781
19        janitor  0.000806
20     technician  0.000821
21          clerk  0.000830
22      bartender  0.000832
23       educator  0.000866
24      machinist  0.000874
25      librarian  0.000888
26     instructor  0.000895
27          baker  0.000937
28      counselor  0.000957
29       mechanic  0.000958
30        officer  0.001029
31       engineer  0.001059
32        surgeon  0.001080
33      carpenter  0.001097
34      physician  0.001115
35   psychologist  0.001148
36   practitioner  0.001156
37        chemist  0.001161
38        manager  0.001176
39         lawyer  0.001177
40  administrator  0.001192
41       examiner  0.001212
42     programmer  0.001212
43         broker  0.001226
44     accountant  0.001247
45        planner  0.001248
46      inspector  0.001255
47   investigator  0.001275
48        advisor  0.001275
49      architect  0.001275
50        auditor  0.001291
51     specialist  0.001328

## Note
A `barometer` only operationalizes the bias for certain representations. For example, the **Bias Direction** requires *word embeddings*, which can be provided by both a static word embeddings or contextual language model. On the other hand, **STS-B** currently only supports representations provided by language models (*sentence embeddings*).

In [ ]:
from biasbarometer.barometers import AutoBarometer
from biasbarometer.models import GloVeEmbeddingsModel

# Initializing sentence embeddings from a GloVe model will not work
GloVeEmbeddingsModel("glove-twitter-25", device="cpu").sentence_embeddings